.recipe-details-container{
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
 
    
 
 }
 
 .recipe-details-wrapper{
     display: flex;
     align-items: start;
     gap: 50px;
     /* border: 1px solid grey; */
     width: 700px;
 }
 
 .recipe-image-detail{
     width: 350px;
     flex: 1;
 
 }
 
 .recipe-image-detail img{
     width: 100%;
     object-fit: cover;
 }
 
 .details{
     display: flex;
     flex-direction: column;
     gap: 30px;
     flex: 1;
 }
 